<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Docente</title>


	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">	
	</script>
	
	
	<style>
		h1{
			text-align:center;
		}
	
		body {
            background-image: url('/net2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para mejorar la legibilidad del formulario */
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px; /* Espaciado superior para separar el formulario del borde superior */
        }
		
	</style>

</head>
<body>
	<nav>
	<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <h5 class="text-body-emphasis h4">Profesorado de Informatica</h5>

	<a type="button" class="btn btn-secondary" href="index.html" th:href="@{'/alumno'}">Alumnos</a>
	
	<a type="button" class="btn btn-secondary"  href="listadoAlumnos.html" th:href="@{'/mostrarListado'}">Listado de Alumnos</a>
	
	<a type="button" class="btn btn-secondary" href="listadoDocentes.html" th:href="@{'/mostrarListadoDocente'}">Listado de Docentes</a>

	<button type="button" class="btn btn-secondary"  href="principal" onclick="window.location.href='principal'">Menu</button>
	
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
	
	<div class="container">
		<h1>Carga de Docentes</h1>
		<div>
			<form th:object="${docente}" th:action="@{/cargarDocenteModificado}" method="post">
				
				<label class="form-label" for="dni">Dni:</label>
				<input class="form-control" type="number" id="dni" th:field="*{dni}" readonly><br>
				
				<span th:if="${errorDni}" class="text-danger" th:text="${errorDni}"></span>
				<p> </p>
				
				<label class="form-label" for="nombre">Nombre:</label> 
				<input class="form-control" type="text" id="nombre" th:field="*{name}" required><br> 
				
				<label class="form-label" for="apellido">Apellido:</label>
				<input class="form-control" type="text" id="apellido" th:field="*{lastname}" required><br>
				
				<label class="form-label" for="direccionCalle">Calle:</label>
				<input class="form-control" type="text" id="direccionCalle" th:field="*{addressStreet}" required><br>
				
				<label class="form-label" for="direccionNumero">Numero:</label>
				<input class="form-control" type="number" id="direccionNumero" th:field="*{addressNumber}" required><br>
			
				<label class="form-label" for="ciudad">Ciudad:</label>
				<input class="form-control" type="text" id="ciudad" th:field="*{addressCity}" required><br>
							
				<label class="form-label" for="fechaNac">Fecha Nacimiento:</label>
				<input class="form-control" type="date" id="fechaNac" th:field="*{fechaNac}" required><br>
				
				<label class="form-label" for="estado">Estado:</label>
				<input  type="checkbox" id="estado" th:field="*{estado}"><br>
				 
				<input type="submit" class="btn btn-secondary" value="Modificar Docente">
				
			</form>
		</div>
	</div>
</body>
</html>